.register_form{
    border: 1px solid silver;
    border-radius: 10px;
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -3px 1px 7px 4px rgba(179,179,179,0.75);
}

.register_form label{
    margin: 10px;
    padding: 5px;
}

.register_form input{
    width: 200px;
    height: 20px;
    border-radius: 50px;
    padding: 5px 10px;
    border: 1px solid green;
}

.register_form input:focus{
    outline: none;
    border: 1px solid rgb(0, 90, 0);
}

.register_form input[type='submit']:hover{
    outline: none;
    border: 1px solid rgb(0, 90, 0);
}

.register_form input[type='submit']{
    height: 40px;
    cursor: pointer;
    background-color: white;
    border-radius: 50px;
    border: 1px solid silver;
    color:green;
    margin: 10px;
}

.register_form p {
    margin: 2px;
}

.center_registerform{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    height: 600px;
}

  